<!DOCTYPE html>
<html>

<head>    
    <link href="http://192.168.1.6:81/material-floating-button/dist/mfb.css" rel="stylesheet">
    <link href="http://192.168.1.6:81/css/googleapi.css" rel="stylesheet" />
    <link href="http://192.168.1.6:81/css/vuetify.css" rel="stylesheet" />
    <link href="http://192.168.1.6:81/css/dev.css" rel="stylesheet" />
    <title>Remote control page</title>
</head>
<body>
    <div id="app">
        <v-app>
            <ul class="mfb-component--br mfb-slidein" data-mfb-toggle="hover">
                <li class="mfb-component__wrap">
                        <!-- the main menu button -->
                        <a data-mfb-label=""  class="mfb-component__button--main">
                        <!-- the main button icon visibile by default -->
                            <i class="mfb-component__main-icon--resting ion-social-github">                                
                                <v-icon x-large>home</v-icon>
                            </i>
                            <i class="mfb-component__main-icon--active ion-social-github"> 
                                <v-btn icon v-on:click="terminateSession()">
                                    <v-icon dark>mdi-minus-circle</v-icon>
                                </v-btn>
                                <v-icon x-large color="black"></v-icon>
                            </i>
                        </a>
                    <ul class="mfb-component__list">
                        <li>
                            <a data-mfb-label="Terminate session" class="mfb-component__button--child">                    
                                <i class="mfb-component__child-icon ion-social-twitter">                   
                                    <v-btn icon v-on:click="terminateSession()">
                                        <v-icon dark>mdi-minus-circle</v-icon>
                                    </v-btn>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a data-mfb-label="Full screen mode" class="mfb-component__button--child">
                                <i class="mfb-component__child-icon ion-social-twitter">                            
                                    <v-btn icon v-on:click="enterFullscreen()">
                                        <v-icon color="black">fullscreen</v-icon>
                                    </v-btn>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a data-mfb-label="File transfer" class="mfb-component__button--child">
                                <i class="mfb-component__child-icon ion-social-twitter">                   
                                    <v-btn icon v-on:click="fileTransfer()">
                                        <v-icon color="black">mdi-cloud-upload</v-icon>
                                    </v-btn>
                                </i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div id="video_container" class="video-container">
                <video id="stream" autoplay playsinline>
                    Your browser doesn't support video
                </video>
            </div>

            <canvas id="capture"></canvas>




            <!-- <div class="loading">
                <div v-if="status === 'failed'">
                    <v-btn v-on:click="location.reload()" color="#E0E0E0">
                        reload
                    </v-btn>
                    <div class="loading-text">Connection failed.</div>
                </div>



                <div v-else>
                    <scale-loader size="200px" :loading="(status !== 'connected')" color="#E0E0E0"></scale-loader>
                    <div v-if="(status !== 'connected')" class="loading-text"></div>
                </div>
            </div> -->
        </v-app>
    </div>
</body>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.3/dist/vue-spinner.min.js"></script>

<script type="text/javascript">
var ScaleLoader = VueSpinner.ScaleLoader;
var serverStatus = null;
var app = new Vue({

    el: '#app',

    components: {
        ScaleLoader
    },

    data() 
    {
        return {                
            hostUrl: "http://192.168.1.6:81",
            SessionClientID: 1178888529, 
            ClientID: 5935953,

            showStart: false,
            showDrawer: false,

            loadingText: '',

            connectionVideoDecoder: "unknown",
            connectionStatType: "unknown",
            connectionAudioCodecName: "unknown",
            connectionVideoCodecName: "unknown",
            connectionResolution: "",

            /*parameter serve for session initialization */
            Clientoffer: false,
            SignallingUrl: "ws://192.168.1.6:82/Session",

            /*default value from client session fetch from server*/
            QoEMode: 0,
            AudioCodec: 3,
            VideoCodec: 1,

            /**
            * default Value of QoE metric, fetch from server
            */
            Screen:
            {
                /*
                * slave screen (determined in session initialize step)
                */
                "SlaveWidth":2160,
                "SlaveHeight": 1341,

                /*
                * frame resolution used to transport to client
                */
                "StreamWidth": 0,
                "SreamHeight": 0,


                /*
                * client resolution display on client screen
                */
                "ClientWidth": 0,
                "ClientHeight": 0,

                "fraction": 0
            },

            /**
            * variable used to convert client and slave mouse position
            */
            Mouse: {
                /**
                 * relation between frame size and actual window size
                 * (used to determine relation between client mouse and its position on slave screen)
                 */
                "mouseMultiX": 0,
                "mouseMultiY": 0,

                /**
                 * 
                 */
                "mouseOffsetX": 0,
                "mouseOffsetY": 0,

                /**
                *
                */
                "centerOffsetX": 0,
                "centerOffsetY": 0,

                /*
                *
                */
                "scrollX": 0,
                "scrollY": 0,

                /*
                *
                */
                "frameW":0,
                "frameH":0,
            },

            /*
            * Metric serve for adaptive streaming algorithm
            */
            adaptive:
            {
                "currentTime": 0,
                "AudioBitrate": 1000000,
                "VideoBitrate": 1000000,
                "Framerate": 0,


                "PacketsLost": 0,
                "AudioLatency": 0,
                "VideoLatency": 0,
                "TotalBandwidth":  1000000,
            },

            /**
             * RTP config, use to establish webrtc connection
             */
            RTPconfig:   
            {"iceServers":    
                [
                    {
                        "urls": ["stun:stun.l.google.com:19302"] 
                    }
                ],
                "bundle-policy":"max-compat"
            },


            /**/
            Websocket: null,
            Webrtc: null,
            VideoElement: null,
            ControlDC: null,
            HidDC: null,

            local_stream_promise:null,

            /**
             * signalling state, use to track state error
            */
            signalling_state: null,
            clipboardStatus: true,
            adaptiveScreenSize: false, ///on testing feature

            enableAudio: true,
            
            EventListeners: [],
            logEntries: [],
            debugEntries: []
        };
    },

    methods: 
    {
        ///enter full screen mode, all functional keywill be activated
        enterFullscreen() {
            // Request full screen mode.
            app.logEntries.push(applyTimestamp("[VIDEO] [Switch to full screen mode]"));
            app.VideoElement.parentElement.requestFullscreen();
        },
        //connect to server method, this method wil be invoked automatically in publish mode 
        connectServer(){
            app.VideoElement =  document.getElementById("stream");
            app.logEntries.push(applyTimestamp("[SIGNALLING] [Connecting to server]"));
            SignallingConnect();
        },
        ///show debug key, only functional in debug mode
        showDrawer(newValue){
            if(newValue) {
                DetachEvent();
            }
            else{
                AttachEvent();
            }        
        },
        onClipboard(Data)
        {
            if (app.clipboardStatus === 'enabled') 
            {
                navigator.clipboard.writeText(content).catch(err =>  {
                        app.setDebug('Could not copy text to clipboard: ' + err);
                    }
                );
            }
        },
        fileTransfer()
        {
            
        },
        ///terminate remote control session by sending terminate signal to session controller on host
        terminateSession()
        {
            axios.get(app.hostUrl+'/Session/Terminate?sessionClientId='+app.SessionClientID);
        },
        ///report qoe reset to slave, after that, slave device will be restarted
        QoeReset()
        {
            var MESSAGE = 
            {
                "Opcode": Opcode.RESET_QOE,
                "From": Module.CLIENT_MODULE,
                "To": Module.AGENT_MODULE,
                "Data": {
                    "ScreenHeight": app.ScreenHeight,
                    "ScreenWidth": app.ScreenWidth,
                    "QoEMode": app.QoEMode,
                    "VideoCodec": app.VideoCodec,
                    "AudioCodec":app.AudioCodec          
                }
            }
            sendControlDC(
                Opcode.RESET_QOE,
                Module.AGENT_MODULE,
                JSON.stringify(MESSAGE)
            );
        },
        ///debug entries for monitoring potential error
        setDebug(message)
        {
            console.log(message);
            app.debugEntries.push(applyTimestamp(message));
        },
        ///report errror in debug mode
        setError(message)
        {
            console.log(message);
            app.debugEntries.push(applyTimestamp(message));
        },
        ///method 
        setStatus(message)
        {
            console.log(message);
            app.logEntries.push(applyTimestamp(message));
        }
    },

    watch: {
        showDrawer(newValue) {
            // Detach inputs when menu is shown.
            if (newValue === true) {
                webrtc.input.detach();
            } else {
                webrtc.input.attach();
            }
        },
        audioEnabled(newValue, oldValue) {
            if(newValue === true)
            {
                                
            }
        },
        signalling_state(newValue) {
            switch (newValue) {
                case "connected":
                    app.setStatus("Connection complete");
                    break;

                case "disconnected":
                    app.setError("Peer connection disconnected");
                    app.VideoElement.load();
                    break;

                case "failed":
                    app.setError("Peer connection failed");
                    app.VideoElement.load();
                    break;
                default:
            }
        }
    },
});


</script>
<script>
var 
applyTimestamp = (msg) => {
    var now = new Date();
    var ts = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
    return "[" + ts + "]" + " " + msg;
}
</script>
<script type="text/javascript">
    var Module = {"CORE_MODULE":0,"CLIENT_MODULE":1,"LOADER_MODULE":2,"AGENT_MODULE":3,"HOST_MODULE":4};
    var HidOpcode = {"KEYUP":0,"KEYDOWN":1,"MOUSE_WHEEL":2,"MOUSE_MOVE":3,"MOUSE_UP":4,"MOUSE_DOWN":5};
    var Opcode = {"SESSION_INFORMATION":0,"REGISTER_SLAVE":1,"SLAVE_ACCEPTED":2,"DENY_SLAVE":3,"REJECT_SLAVE":4,"SESSION_INITIALIZE":5,"SESSION_TERMINATE":6,"RECONNECT_REMOTE_CONTROL":7,"DISCONNECT_REMOTE_CONTROL":8,"QOE_REPORT":9,"RESET_QOE":10,"COMMAND_LINE_FORWARD":11,"EXIT_CODE_REPORT":12,"ERROR_REPORT":13,"NEW_COMMAND_LINE_SESSION":14,"END_COMMAND_LINE_SESSION":15,"FILE_TRANSFER_SERVICE":16,"CLIPBOARD_SERVICE":17};
    var QoEMode = {"AUDIO_PIORITY":0,"VIDEO_PIORITY":1};
    var Codec = {"CODEC_H265":0,"CODEC_H264":1,"CODEC_VP9":2,"OPUS_ENC":3,"AAC_ENC":4};
</script>
<script src="http://192.168.1.6:81/src/quality-track.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/key-translate.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/input.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/signalling.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/webrtc.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/client-message.js?ts=1"></script>
<script src="http://192.168.1.6:81/src/clipboard.js?ts=1"></script>


<script>
    app.connectServer();
</script>

</html>