<!DOCTYPE html>
<html lang="en">
<head>
  <% include login-register-partials/head %>
  <title>ThinkMay | Registration</title>
  <script type="text/javascript">window.login=false</script>
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="." class="h1"><b>Think</b>May</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form>
        <label class="error" for="fullName"></label>
        <div class="input-group mb-3">
          <input name="fullName" type="text" class="form-control" placeholder="Full name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <label class="error" for="email"></label>
        <div class="input-group mb-3">
          <input name="email" type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <label class="error" for="password"></label>
        <div class="input-group mb-3">
          <input id="password" name="password" type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label class="error" for="repassword"></label>
        <div class="input-group mb-3">
          <input name="repassword" type="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label class="error" for="agree"></label>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input name="agree" type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="/terms">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button id="register" type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <a href="/login" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
<style type="text/css">
  body.swal2-height-auto {
  height: 100% !important
}
</style>

<% include login-register-partials/dep %>
<script type="module" src="javascripts/pages/login-register.js"></script>
</body>
</html>
