<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.css" rel="stylesheet" />
  <style>
    html {
      font-family: Roboto, Arial, sans;
      overflow: hidden;
    }

    .scrolly textarea {
      min-height: 300px;
      white-space: pre;
      overflow: scroll;
    }

    .fab-container {
      top: 50%;
      right: -25px;
    }

    .video-container {
      background-color: black;
      width: 100%;
      height: 100%;
    }

    .video-container video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .loading {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #E0E0E0;
    }

    .loading-text {
      margin-top: 1em;
    }

    canvas {
      background: black;
    }

    ul{
      border: 1px solid #000000;
      border-radius: 8px;
    }

    .small-size{
      font-size: 10px;
    }

  </style>
  <title>WebRTC</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer v-model="showDrawer" app fixed right temporary width="600">
        <v-container fluid grid-list-lg>
          <v-layout row wrap>
            <v-flex xs12>
              <p>
                <v-toolbar>
                    <v-tooltip bottom>
                      <template v-slot:activator="{on}">
                        <v-btn icon v-on:click="enterFullscreen()">
                          <v-icon color="black" v-on="on">fullscreen</v-icon>
                        </v-btn>
                      </template>
                      <span>Enter fullscreen mode</span>
                    </v-tooltip>


                    <v-tooltip bottom>
                      <template v-slot:activator="{on}">
                        <v-btn icon v-on:click="resetStream()">
                          <v-icon color="black" v-on="on">gavel</v-icon>
                        </v-btn>
                      </template>
                      <span>Reset Remote Control connection</span>
                    </v-tooltip>


                    <v-tooltip bottom>
                      <template v-slot:activator="{on}">
                        <v-btn icon v-on:click="connectServer()">
                          <v-icon color="black" v-on="on">widgets</v-icon>
                        </v-btn>
                      </template>
                      <span>Connect to Server</span>
                    </v-tooltip>

                    
                </v-toolbar>






                <p></p>
                  <ul>
                    <li>Peer connection state: <b>{{ status }}</b></li>
                    <li>Packets lost: <b>{{ adaptivePacketsLost }}</b></li>
                  </ul>
                  Bandwidth Stats:
                  <ul>
                    <li>Video receive rate: <b>{{ adaptiveVideoBitrate }}</b></li>
                    <li>Available receive bandwith: <b>{{ adaptiveTotalBandwidth }}</b></li>
                  </ul>
                  Video Stats
                  <ul>
                    <li>Video Latency: <b>{{ adaptiveVideoLatency }} ms</b></li>
                    <li>Audio Latency: <b>{{ adaptiveAudioLatency }} ms</b></li>
                    <li>Video Codec: <b>{{ connectionVideoCodecName }} </b></li>
                    <li>Received Screen Size: <b>{{ connectionResolution }} </b></li>
                    <li>Display Screen size: <b>{{ windowResolution }} </b></li>
                    <li>Video decoder: <b>{{ connectionVideoDecoder }}</b></li>
                    <li>Frame rate: <b>{{ adaptiveFramerate }} fps</b></li>
                    <li>Bit rate: <b>{{ adaptiveVideoBitrate }}</b></li>
                  </ul>
                  Audio Stats
                  <ul>
                    <li>Latency: <b>{{ adaptiveAudioLatency }} ms</b></li>
                    <li>Codec: <b>{{ connectionAudioCodecName }}</b></li>
                    <li>Bit rate: <b>{{ adaptiveAudioBitrate }} kbps</b></li>
                  </ul>

                </p>
              </p>



              <hr  />
              <v-textarea bottom class="scrolly small-size" label="Debug Logs" readonly  :value="debugEntries.join('\n\n')">
              </v-textarea>
              <v-textarea bottom class="scrolly small-size" label="Status Log" readonly :value="logEntries.join('\n\n')">
              </v-textarea>


            </v-flex>
          </v-layout>
        </v-container>
      </v-navigation-drawer>

      <div id="video_container" class="video-container">
        <video id="stream" preload="none" playsinline>
          Your browser doesn't support video
        </video>
      </div>

      <canvas id="capture"></canvas>

      <v-btn class="fab-container" v-on:click="showDrawer=!showDrawer" color="grey" fab dark fixed right>
        <v-icon>chevron_left</v-icon>
      </v-btn>




      <div class="loading">



        <div v-if="status === 'failed'">
          <v-btn v-on:click="location.reload()" color="#E0E0E0">
            reload</v-btn>
          <div class="loading-text">Connection failed.</div>
        </div>



        <div v-else>
          <scale-loader size="200px" :loading="(status !== 'connected')" color="#E0E0E0"></scale-loader>
          <div v-if="(status !== 'connected')" class="loading-text">{{ loadingText }}</div>
        </div>
      </div>
    </v-app>
  </div>
</body>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.3/dist/vue-spinner.min.js"></script>
<script src="enum.js?ts=1"></script>
<script src="input.js?ts=1"></script>
<script src="ClientConfig.js"></script>
<script src="ClientSession.js"></script>
<script src="signalling.js?ts=1"></script>
<script src="webrtc.js?ts=1"></script>
<script src="app.js?ts=1"></script>

</html>