<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ThinkMay Services</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/logo_thinkmay.png" />
    <script src='js/fontawesome.js'></script>
</head>



<body>
<div id="slave">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h4 class="text-success">
                            <i class="fa fa-tv highlight-icon" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="float-right">
                        <p class="card-text text-dark">Device</p>
                    </div>
                </div>
                <div class="column">
                    <p class="text-muted">
                        CPU: Intel i10 9900K
                    </p>
                    <p class="text-muted">
                        GPU: Geforce GTX 1650
                    </p>
                    <p class="text-muted">
                        RAM: 16 GB
                    </p>
                    <p class="text-muted">
                        OS: Windows 10 Pro
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
<script>
function show(data) {
    let tab = 
        `<tr>
          <th>Name</th>
          <th>Office</th>
          <th>Position</th>
          <th>Salary</th>
         </tr>`;
    
    // Loop to access all rows 
    for (let r of data.list) {
        tab += `<tr> 
    <td>${r.name} </td>
    <td>${r.office}</td>
    <td>${r.position}</td> 
    <td>${r.salary}</td>          
</tr>`;
    }
    // Setting innerHTML as tab variable
    document.getElementById("employees").innerHTML = tab;
}
42</script>
