.overlay {
	opacity: 0;
	transition: 0.3s;
}

.overlay:hover {
	opacity: 1;
	transform: translateY(-8px);
}

.btn {
	width: 80%;
	font-size: 1vw;
	margin-top: 10px;
}

.colbut {
	min-width: 50%;
}

.slave {
	min-width: 300px;
}

.space{
	min-width: 10px;
	max-width: 10px;
}

.moreinf {
	min-width: 100px;
	max-width: 100px;
}