<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ThinkMay | 500 Error</title>
  <link rel="stylesheet" href="css/error/style.css">
  <link rel="shortcut icon" href="images/logo-thinkmay-white.ico" />

</head>
<body class="hold-transition sidebar-mini">
  <div class="error-page">
    <div>
        <h1 data-h1="500">500</h1>
        <p data-p="SERVER ERROR">SERVER ERROR</p>
    </div>
</div>

<a href="/dashboard" class="back">GO BACK</a>

<div id="tsparticles"></div>

<script src="vendors/tsParticles/tsparticles.min.js"></script>
</body>
</html>
