<!DOCTYPE html>
<html>

<head>
    <% include login-register-partials/head %>

        <title>Thinkmay for Thinkmay App</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="content-language" content="en-gb">
        <!-- <link rel="icon" type="image/x-icon" href="https://service.thinkmay.net/images/logo-thinkmay-white.ico"> -->
        <link rel="stylesheet" href="css/token/primer.css">
        <link rel="stylesheet" href="css/token/style.css">

</head>

<body class="height-full">
    <header>
        <div class="d-flex justify-content-center py-6">
            <!-- <h1 class="mx-auto"> <img src="https://service.thinkmay.net/images/logo-thinkmay-black.png" alt="GitHub for VS Code" height="84"> </h1> -->
        </div>
    </header>
    <main role="main">
        <div class="justify-content-center mx-auto py-2 p-responsive text-center">
            <h1 class="text-center">Success!</h1>
            <p class="lead text-center mt-2">Authorization was successful.</p>
            <div class="failed">
                <h4>Your authorization token:</h4>
                <div class="token-area"> <textarea readonly="" id="token"> access_token </textarea>
                    <div class="token-did-copy"> ✅ Copied </div>
                </div>
                <ol>
                    <li>Copy the token. </li>
                    <li>Switch back to Thinkmay App. </li>
                    <li>Paste the token and hit <b>enter</b>.</li>
                </ol>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="text-muted justify-content-center mx-auto p-responsive text-center"><small>This service is needed to
                connect Visual Studio Code to GitHub and does not store any sensitive information.</small></div>
    </footer>
    <script>
        addEventListener('click', ({
            target
        }) => {
            if (target === token) {
                token.select();
                document.execCommand('copy');
                token.parentNode.classList.add('copied');
                setTimeout(() => token.parentNode.classList.remove('copied'), 1000);
            }
        })
    </script>
    <!-- <script nonce="">
        window.location.href = 'vscode://vscode.github-authentication/did-authenticate?windowid=3&code=6237c304f1c9defbfb1a&state=0a992d50-6e60-474d-b49f-8eb043fb690a';
    </script> -->
    <% include login-register-partials/dep %>

        <script type="module" src="javascripts/pages/copy-token.js"></script>
</body>


</html>